/* Navbar styles */
.navbar {
    background-color: rgb(19, 132, 117); /* Background color */
    padding: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted to space between brand and menu */
}

/* Navbar brand styles */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 40px;
    height: 40px;
    border-radius: 0; /* Ensure the logo is not rounded */
    margin-right: 10px; /* Add a bit of space between the icon and title */
}

.navbar-title {
    font-size: 1.5em;
    color: orange;
    font-weight: bold;
    margin: 0; /* Remove margin to ensure tight alignment with icon */
}

/* Navbar menu styles */
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: orange;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.3s;
}

.navbar-menu li a:hover {
    color: darkorange;
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.1);
}

/* Cart icon styles */
.cart-icon-link {
    color: white;
    position: relative;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.cart-icon-link:hover {
    color: orange;
    transform: scale(1.1); /* Scale up the icon on hover */
}

/* Logout icon styles */
.logout-icon {
    background-color: red; /* Red background */
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-icon:hover {
    background-color: darkred; /* Darker red on hover */
}

.logout-button-icon {
    color: white;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
