/* Container for Add Category */
.add-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-width: 574px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Heading style */
.add-category-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    color: #333;
}

/* Label and input styling */
.add-category-container label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-category-container label span {
    flex: 1;
    margin-right: 15px;
    font-weight: bold;
    color: #333;
    min-width: 150px;
}

.add-category-container input,
.add-category-container select {
    flex: 2;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Select dropdown */
.add-category-container select {
    background: white;
    color: #333;
    z-index: 1;
}

.add-category-container select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Add Category Button */
.add-category-button {
    background-color: rgb(19, 132, 117);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-category-button:hover {
    background-color: #45a049;
}

/* Back Button */
.category-back-button {
    background-color: rgb(19, 132, 117);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    margin-left: 30px;
}

.category-back-button:hover {
    background-color: #45a049;
}

/* Success Message */
.success {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: #5bc0de;
    background-color: #d9edf7;
    border: 1px solid #5bc0de;
}

/* Loading Text */
.loading {
    text-align: center;
    font-size: 18px;
    color: #333;
}
