
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* button {
  margin: 0;
} */

button.Toastify__close-button {
  margin: 0;
  padding: 0;
}

button.Toastify__close-button.Toastify__close-button--light {
  margin: 0;
  padding: 0;
}

button.Toastify__close-button.Toastify__close-button--dark {
  margin: 0;
  padding: 0;
}

div.Toastify__toast-body {
  text-align: left;
}

